[Unit]
Description=The Knitter Manager
Documentation=https://github.com/ZTE/Knitter/tree/master/docs/

[Service]
ExecStart=/opt/knitter-manager/knitter-manager
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
